<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 页面宽度与浏览器同宽 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 导入css -->
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <title>小红书文案生成器</title>
</head>
<body>
    <main class="main">
        <header>
            <h1 class="title">小红书文案生成器</h1>
        </header>
        <div class="content">
            <section class="left">
                <div class="tip">一键生成小红书文案</div>
                <textarea 
                    class="input"
                    name="input"
                    id="input"
                    placeholder="详细描述你想要生成的文案，包括主题、需要包含的观点和内容"
                ></textarea>
                <div class="generate" id="generate">生成文案</div>
            </section>
            <section class="right">
                <div class="output" id="output"></div>
            </section>
        </div>
    </main>
    <script src="{{ url_for('static', path='/index.js') }}"></script>
</body>
</html>
